@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
.h_border
{
	width: max-width;
	height: 100px;
	background-color: #33F;
	}
.h_border_left{
	width:auto;
	height:80%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom:10px 10px;
	}